grammars/relaton-iho.rnc

include "biblio-standoc.rnc" {

DocumentType =
"policy-and-procedures" | "best-practices" | "supporting-document" | "report" | "legal" | "directives" | "proposal" |
        "standard" | "specification" | "resolution" | "regulation"

editorialgroup = element editorialgroup {
  (committee | workgroup | commission)+
}

structuredidentifier = element structuredidentifier {
  element docnumber { text },
  element part { text }?,
  element annex { text }?
  element appendix { text }?
  element supplement { text }?
}

}

BibDataExtensionType &=
        ## The period during which comments may be submitted to the document draft
        commentperiod?

committee = element committee { IHO_Group }
workgroup = element workgroup { IHO_Group }
commission = element commission { IHO_Group }

IHO_Group =
  element name { text }?,
  element abbreviation { text },
  (committee | workgroup | commission)?


## The period during which comments may be submitted to the document draft
commentperiod = element commentperiod {
## The beginning of the period during which comments may be submitted to the document draft
element from { ISO8601Date },
## The end of the period during which comments may be submitted to the document draft. 
## The end of the period may change, and may be left open-ended (omitted)
element to { ISO8601Date }?
}

